@import 'tailwindcss';

@theme {
  --color-palette-eggshell: #f9f5ee;
  --color-palette-denim: #748cab;
  --color-palette-space: #1d2d44;
  --color-palette-carbon: #1e1e1e;

  --tracking-custom: 0.1em;

  --default-transition-timing-function: ease-in-out;
  --default-transition-duration: 300ms;
}

@layer base {
  body {
    @apply text-palette-space bg-black text-sm;

    @variant lg {
      @apply text-base;
    }
  }

  a {
    @apply hover:text-palette-denim transition;
  }
}
