@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/montserrat-latin-wght-normal.woff2") format("woff2");
}

@theme {
  --color-palette-eggshell: #f9f5ee;
  --color-palette-denim: #748cab;
  --color-palette-space: #1d2d44;
  --color-palette-carbon: #1e1e1e;

  --font-sans: "Montserrat", sans-serif;

  --tracking-custom: 10%;
}

@layer base {
  body {
    @apply text-palette-space bg-black font-sans text-sm;

    @variant lg {
      @apply text-base;
    }
  }

  h2 {
    @apply -tracking-custom text-right text-7xl font-medium;

    @variant lg {
      @apply text-8xl;
    }
  }
}
